*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto-400" , sans-serif;
}
body{
    background: linear-gradient(#870000, #190A05);
    color:white;
}
.title{
    text-align: center;
    margin: 50px;
    font-size: 60px;
}
.img{
    margin-top: 30px;
}
.header{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-btn{
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 padding: 20px;
 gap: 50px;
 }
.btn{
    text-decoration: none;
    color:#000;
    font-size: 20px;
    padding: 20px;
    width: 350px;
    border: solid #000 2px;
    border-radius: 50px;
}
.wpp:hover{
   background-color: #128C7E;
}
.wpp{
    background-color:#25D366;

}